/* ================================
   Font Declarations
   ================================ */
/* HelveticaNowDisplay Fonts */
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.otf') format('opentype');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.otf') format('opentype');
    font-weight: 950;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBd.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-HairlineIta.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-MediumIta.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-RegularIta.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin.otf') format('opentype');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.otf') format('opentype');
    font-weight: 250;
    font-style: italic;
}

/* HelveticaNowMicro Fonts */
@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-ExtBd.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-ExtBdIta.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-ExtLt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-ExtLtIta.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-LightIta.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-MediumIta.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowMicro';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowMicro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* HelveticaNowText Fonts */
@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-ExtBd.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-ExtBdIta.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-ExtLt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-ExtLtIta.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-Thin.otf') format('opentype');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('./fonts/HelveticaNowDisplay/HelveticaNowText-ThinItalic.otf') format('opentype');
    font-weight: 250;
    font-style: italic;
}

/* Adobe Caslon Pro Fonts */
@font-face {
    font-family: 'ACaslonPro';
    src: url('./fonts/AdobeCaslonPro/ACaslonPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ACaslonPro';
    src: url('./fonts/AdobeCaslonPro/ACaslonPro-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ACaslonPro';
    src: url('./fonts/AdobeCaslonPro/ACaslonPro-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ACaslonPro';
    src: url('./fonts/AdobeCaslonPro/ACaslonPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ACaslonPro';
    src: url('./fonts/AdobeCaslonPro/ACaslonPro-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ACaslonPro';
    src: url('././fonts/AdobeCaslonPro/ACaslonPro-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
